body{
    background-color: #94a598;
}

div.center{
    margin: auto;
    margin-top: 20%;
    width: 40%;
    height: auto;
    border: solid #2e492d 3pt;
    background-color: #e0ded6;
    text-align: center;
}

p{
    font-size: large;
}

img{
    width: 250px;
    height: auto;
    border: solid black 1pt;
    margin-top: 20px;
}

div.map{
    margin: 50 auto;
    text-align: center;
}